<h1 class="display-1 text-center">All restaurants</h1>
<ul class="list-group list-group-flush">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-black" %>
    </li>
  <% end %>
</ul>